html {
	background-color: #585858;
}
.container-fluid {
	background-color: #585858;

}

#logotopimage {
	
	margin-left: 25%
}

a:link {
	color: #33DDFF;
	font-weight: bold;
	font-family: 'Acme', ;
	font-size: 16pt;
	justify-content: space-around;
}
#sidenav {
	background-color: #585858;
	color: white;
	float: left; 
	margin: 0.5em;
	margin-top: 4em;
	margin-right: 20em;

	border: solid #01FD0B 2pt;
}
#searchbar {
	margin-bottom: 2.5%;
}
#postcontainer {
	width: 35%;
	
}
#postbody {
	border-bottom: solid black 1pt;
}
.card-header {
	font-weight: bold;
	font-family: 'Acme', ;
}

#rating {
	text-align: right;
	font-weight: bold;
	color: #01FD0B;
}
#comments {
	font-style: italic;
	text-align: left;
	color: #01FD0B;
}
#profilephoto {
	width: 8%;
	float: left;
	margin-right: 5%;
}

#copyright {
	color: lightgrey;
}
#footer{
	background-color: #585858;
	border-top: solid black 1pt;
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;  
	
}
#footerlink {
	font-size: 10pt;
}
#restauranttitle {
	color: #33DDFF;
	font-style: italic;
}
.card-text {
	font-family:'Libre Baskerville', ;
}